{% extends 'base.html' %}

{% block title %}
    Admin | Add Student To Course
{% endblock title %}

{% block content %}

    <form action="/admin" method="GET" class="mt-3">
      <div class="d-grid gap-2 col-1 mx-5">
          <button type="submit" class="btn btn-primary">Back</button>
      </div>
    </form>

    <div class="col-4 mx-5 mt-5">
        <h1>Adding of the student to course</h1>

        <form action="" method="POST">

            <select class="form-select course" aria-label="Default select example" name="course_name">
                    <option>-----</option>
                {% for course in courses_list %}
                    <option value="{{ course.name }}"
                            {% if course.name == course_name %} selected {% endif %}>{{ course.name }}</option>
                {% endfor %}
            </select>

            <select class="form-select student mt-3" aria-label="Default select example" name="student_name">
                    <option>-----</option>
                {% for student in students_list %}
                    <option value="{{ student.name }}"
                            {% if student.name == student_name %} selected {% endif %}>{{ student.name }}</option>
                {% endfor %}
            </select>

            <div class="d-grid gap-2 col-3 mt-3">
                <button type="submit" class="btn btn-primary">Add user</button>
            </div>
        </form>
    </div>

{% endblock content %}