{% extends 'base.html' %}

{% block title %}
    Courses
{% endblock title %}


{% block content %}

    <style type="text/css">
        .category-wrapper li {
            font-size: 24px;
            color: blue;
        }

        .courses-wrapper a {
            font-size: 18px;
            color: black;
            padding-left: 50px;
        }
    </style>


    <form action="/api/courses" method="GET" class="mt-3">
      <div class="d-grid gap-2 col-3 mx-5">
          <button class="btn btn-primary" type="submit">Download Courses</button>
      </div>
    </form>

    <div class="d-grid gap-2 col-4 mx-3">
        <h1 class="mx-5 mt-5">Courses:</h1>
        <div class="list-group mx-5 mt-2">
            <ul class="list-group category-wrapper">
                {% for category in categories_list %}

                  <li class="list-group-item mt-3">{{ category.name }} (courses: {{ category.count_children() }})</li>

                    {% if category %}

                        {% for course in category %}
                            <ul class="list-group courses-wrapper">
                                <a href="" class="list-group-item course-wrapper">{{ course.name }}</a>
                            </ul>
                        {% endfor %}

                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock content %}