{% extends 'base.html' %}

{% block title %}
    Admin | Course
{% endblock title %}

{% block content %}

    <form action="" method="POST" class="col-4 mx-5 mt-5">
        <h1>Edit the new course</h1>
          <div class="mb-3">
            <label for="name" class="form-label">Course name:</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ course.name }}">
            <label for="category_name" class="form-label">Category name:</label>
            <input type="text" class="form-control" id="category_name" name="category_name">
          </div>

          <div>
              <button class="btn btn-primary col-12" type="submit">Submit</button>
          </div>

    </form>

{% endblock content %}
