<ul class="menu">
    <li><a href="{% url 'main' %}">
        на сайт
    </a></li>
    <li>
        <a href="{% url 'admin:users' %}" {% if request.resolver_match.url_name == 'users' %}class="active"{% endif %}>
            пользователи
        </a>
    </li>
    <li>
        <a href="{% url 'admin:categories' %}" 
        {% if request.resolver_match.url_name == 'categories' or category.name %}class="active"{% endif %}>
            категория
            {% if category %}:
                <span>{{ category.name }}</span>
            {% endif %}
        </a>
    </li>
</ul>