{% load static %}
{% for product in same_products %}
<div class="block">
    <a href="{% url 'products:category' product.category.id %}">
        <img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
        <div class="text">
            <img src="{% static 'img/icon-hover.png' %}" alt="img">
            <h3>Категория: {{ product.category.name }}</h3>
            <h4>Название: {{ product.name }}</h4>
            <p>Описание: {{ product.description }}</p>
            <p>Цена: {{ product.price }}</p>
            <p>На складе: {{ product.quantity }}</p>
        </div>
    </a>
</div>
{% endfor %}